
h1, h2{
    border-bottom: 1px solid gray;
    padding: 10px;
}

body {
    background-color: rgb(37, 36, 36);
    color: azure;
    line-height: 1.3;
    margin: 0;
    padding: 0;
}

main { 
  max-width: 1100px;
  width: 70%;
  margin: 20px auto;
}
a{
    text-decoration: none;
    color:azure;
    font-size: 20px;
}
.contain {
  max-width: 1100px;
  margin: 0 auto;
}
.navbar{
  background-color: rgb(77, 77, 255);
  color: azure;
  overflow: auto;
  height: 100px;
}
.navbar ul {
  display: flex;
  list-style-type: none;
}
.navbar a {
  padding: 10px;
  margin: 0 5px;
}
.navbar a:hover {
  border-bottom: 2px  azure solid;
}
.flex {
  display: flex;
  justify-content: center;
  justify-items: center;
  height: 100%;
}
table {
  border-collapse: collapse;
  width: 80%;
}

td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: rgb(73, 73, 73);
}


@media only screen and (max-width: 800px){
.navbar {
  height: 160px;
}
.navbar ul {
  display: block;
}
.navbar a {
  padding: 0;
}
main { 
  width: 100%;
}
}

